button{
    height:30px;
    width:100px;
    padding: 4px 7px;
}

#butoes {
	margin: auto;
	height: 70px;
	width: 210px;
}

p{
	text-align: center;
}

#randomcode {
	font-size: 100px;
	font-family: monospace;
}