body {
	font-family: sans-serif;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3; /*#333;*/
	box-shadow: 1px 1px 3px #ccc;
	user-select: none;
}

.invalidLine {
	border: 2px solid red;
	background: #fdd;
}

.mono {
	font-family: monospace;
}

.importbutton {
	border: 2px solid black;
	border-radius: 3px;
	padding: 0 4px;
}

.td_Special:hover {
	background: #d9d9d9;
}

#teacherOn, 
#shiftOn,
#courseOn
 {
	margin-left: 74px;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 10px;
}

.subTitle {
	margin-top: 0px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 3px;
}

#courseOn {
	margin-bottom: 10px;
}

.textarea_input {
	min-width: 520px;
	min-height: 360px;
}

.table-margin {
	margin:3px 70px;
}

.margin-bottom {
	margin-bottom: 90px;
}

.menu-item {
	padding: 4px;
	height: 74px;
	vertical-align: middle;
	line-height: 66px;
}

.menu-button {
	font-family: monospace;
	width: 74px;
}

.link-margin {

}

.item-left {
	float: left;
}

.item-right {
	float: right;
}

.item-last {
	margin-right: 70px;
}

.item-left-second {
	padding: 0px 32px;
}

.menu-title {
	font-size: 17px;
}

.download {
	border-top: 2px solid black;
}

.import {
	border-bottom: 2px solid black;
}

.marginTop {
	margin-top: 20px;
}

.inlineblock {
	display: inline-block;
}

.active span {
	border-color: white !important;
}

.active {
	color: white !important;
	background-color: #008CBA !important;
}	

.goBack {
	margin-top:5px;
}

.button-left-empty {
	margin-right: 90px;
} 

.button-top {
	margin-top:5px;	
}

.firstTitle {
	margin-top: 10px;
}

.toGreen {
	color: green;
	text-align: center;
}

.toRed {
	color: red;
	font-weight: bold;
	text-align: center;
}

#barra_remaining {
	height: 25px;
	background: black;
	transition: width 1s linear;
	transition-property: width, background-color;
}

#courseName_id, #courseName_id2 {
	font-weight: bold;	
}

table {
	text-align: left;
}

table th {
	text-align: center;
}

.clickable_different:hover {
	cursor: pointer;
}

.clickable:hover {
	background-color: #bfbfbf !important;
	opacity: 1;
	cursor: pointer;
}

a:hover,
button:hover {
	cursor: pointer;
}

#late_checkbox {
	margin: 4px;
}

#index {
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);	
	transform: translate(-50%, 0%);
}

#historyTable tr td:nth-child(1),
#historyTable tr td:nth-child(2),
#historyTable tr td:nth-child(3){
	text-align: center;
}

#historyTable tr td {
	text-align: right;
}

#historyTable {
	margin-bottom: 90px;
}

.removedStyle {
	text-decoration: line-through;
}

th {
	background: #008CBA; /*#a4c1da;*/
	color: #f3f3f3;
	padding: 4px 4px;
}

#b_newcourse {
	margin-top: 50px;
	margin-bottom: 10px;
}

.clickable:active {
	color: white;
	background-color: #008CBA;
}

#button_scancourses {
	padding-top: 15px;
}

#button_finishAttendance,
#b_personalizecourse {
	margin-top: 10px;
}

footer {
	padding-top: 50px;
	text-align: center;
	color: darkgrey;
}

.isAttFinished {
	font-weight: bold;
	color: green;
}

.codeCorrect {
	color: green;
}

.invalidCode {
	color: red;
}

#div_c {
	padding-top: 5px;
}

li {
	border-right: 1px solid #bbb;

}

#classTable table td{
	text-align: center;
}

table {
	border-collapse: collapse;
	box-shadow: 1px 1px 3px #bbb;
	background: #f3f3f3;
	border-radius: 4px;
}

th {
	border: 2px solid #bbb;
}

td {
	border: 1px solid #ddd;
}

tr {
	border: 2px solid #ddd;
}

.less_suspicious {
	background: #ffffdd !important;
}

#fingerprintTable table td:nth-child(2) {
	background: #ffcccc;
}

#fingerprintTable {
	text-align: center;
	padding: 60px;
}

.less_suspicious:hover {
	cursor:pointer;
	background: #ffffee !important;
	border: 2px solid yellow !important;
}

.suspicious_tr {
	background: #ffdddd !important;
}

.suspicious_tr:hover {
	cursor:pointer;
	background: #ffeeee !important;
}

#total_tr {
	font-weight: bold;
}

a.previous {
  text-decoration: none;
  display: inline-block;
  width: 66px;
  font-size: 20px;
}

a.previous:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: white;
  color: black;
}

input[type="radio"] {
	margin: 6px;
}

td {
	padding: 4px;
}

#attendance-button {
	margin-top: 25px;
}

.current {
	font-weight: bold;
}

.logoname {
	font-weight: bold;
	background-color: #008CBA;
	color: #f3f3f3;
}

#attendance_qrcode {
	width: 500px;
	height: 500px;
}

.menu-container {
	margin-top: 5px;
	height: 74px;
}

.container {
	min-height: 300px;
	position: relative; 
}

#attendance_info{
	text-align: center;
}

.text-center {
	text-align: center;
}

.center {
	margin: auto;
	max-width: 960px;
	margin-top: 25px;
}

.expired {
	color: DarkRed;
	font-family: sans-serif !important;
}

.butoes {
	text-align: center;
}

#randomcode {
	font-size: 150px;
	font-family: monospace;
	text-align: center;
}

button:disabled {
	opacity: 0.5;
}

#studentsAllTable td:nth-child(1) {
	text-align: right;
}

table tr:nth-child(even) {
	background-color: #e6e6e6;
}

.Bigbutton {
	background-color: white;
	border-color:#008CBA;
	border-width: 3px;
	color: black;
	padding: 14px 75px;
	text-align: center;
	font-size: 24px;
	margin: 4px 2px;
	opacity: 1;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
}

#input_student {
	width: 210px;
	height: 40px;
	font-size: 24px;
}

#enter_button{
    height:40px;
    width:100px;
    padding: 4px 7px;
    font-size: 17px;
}

#maincontainer {
	padding-top: 20px;
	margin-top: 0px;
}

#buttons_startstop {
	clear: both;
}

.left {
	margin-top: 50px;
}

.left #studentspresent {
	float: left;
	width: 25%;
	text-align: center;
}

.left #attendance_info {
	float: left;	
	width: 50%;
}

.left #attendance_links {
	float: left;
	width: 25%;
	font-size: 30px;
}

.left #attendance_qrcode {
	margin: auto;
	width: 256px;
	height: 256px;
}

.left #attendance_qrcode img {
	height: 256px;
}

.Bigbutton:hover:enabled {
	background-color: #008CBA;
	color: white;
	cursor: pointer;
}

.intro {
	margin-bottom: 0px;
	font-size: 70px;
	color:#f3f3f3;
}

.intro_sub {
	font-size: 23.5px;
	color:#f3f3f3;
	margin-top: 0px;
}

#IST_NAME {
	font-size: 14px;
}

@media only screen
and (max-width: 640px) {
	#IST_NAME, .intro_sub {
		display: none;
	}
}

li .name,
li .logoname,
li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li .name,
li a {
	color: #666;
}

li a:hover {
	background-color: #595d5f;
	opacity: 1;
	color: white;
}

.name {
	font-size: 12px;
	padding-top: 17px !important;
}

#time_remaining,
#view_consecutivecodes {
	font-weight: bold;
}

.time_remaining_short {
	color: red;
}

#attendance_info p {
	font-size: 36px;
}

#attempedstudentsTable {
	background: #ffebeb !IMPORTANT;
	margin-bottom: 90px;
}

#attempedstudentsTable tr th {
	background: #daa4a4 !IMPORTANT;
}

#showStudents {
	font-size: 35px;
}

.historycolumn {
	float: left;
}

.historycolumn table {
	min-width: 380px;
}

.emptyColumn {
	float: none;
}

#newCoursePersonalization,
#inactiveCoursePersonalization {
	margin-bottom: 20px;
}

.item-left-alone {
	margin-left: 74px;
}

.loadingIcon {
	animation:spin 4s linear infinite;
}

#goUp_div {
	position: fixed;
	bottom: 0;
	right: 100px;
}

#totalnrofclasses {
	font-weight: bold;
}

#goUp_div a {
	text-decoration: none;
	color: #008CBA;
	font-size: 30px;
	padding: 10px;
	background: #ddd;
	padding-bottom: 20px;
	line-height: 70px;
}

#goUp_div a:hover {
	background: #eee;
}

#goUp_spacer {
	height: 90px;
}

#editClassInfo {
	margin: 32px 8px;
}

input {
	padding: 4px;
}

.margin_bottom {
	margin-bottom: 90px;
}

.th-sortable:hover {
	cursor: pointer;	
}
.th-sortable::after {
	content: '\2B0D';
	padding-left: 7px;
}

.invisible-table,
.invisible-table td,
.invisible-table tr {
	margin: auto;
	background-color: initial !important;
	border: 0px;
	box-shadow: initial;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }