ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3; /*#333;*/
	box-shadow: 1px 1px 3px #ccc;
	user-select: none;
}

li {
	border-right: 1px solid #bbb;

}

input[type="radio"] {
	margin: 6px;
}

td {
	padding: 4px;
}

#attendance-button {
	margin-top: 25px;
}

.current {
	font-weight: bold;
}

.logoname {
	font-weight: bold;
	background-color: #008CBA;
	color: #f3f3f3;
}

.container { 
	height: 300px;
	position: relative; 
}

#attendance_info{
	text-align: center;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.expired {
	color: DarkRed;
	font-family: sans-serif !important;
}

.butoes {
	text-align: center;
}

#randomcode {
	font-size: 100px;
	font-family: monospace;
	text-align: center;
}

button:disabled {
	opacity: 0.5;
}

.Bigbutton {
	background-color: white;
	border-color:#008CBA;
	border-width: 3px;
	color: black;
	padding: 14px 75px;
	text-align: center;
	font-size: 24px;
	margin: 4px 2px;
	opacity: 1;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
}

#input_student {
	width: 210px;
	height: 40px;
	font-size: 24px;
}

#enter_button{
    height:40px;
    width:100px;
    padding: 4px 7px;
    font-size: 17px;
}

.Bigbutton:hover:enabled {
	background-color: #008CBA;
	color: white;
	cursor: pointer;
}

.intro {
	font-size: 70px;
}

li .name,
li .logoname,
li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li .name,
li a {
	color: #666;
}

li a:hover {
	background-color: #595d5f;
	opacity: 1;
	color: white;
}

.name {
	font-size: 12px;
	padding-top: 17px !important;
}
